
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-size: 20px;
  background-color: rgba(26, 25, 32, 0.991);
  color: beige;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: left;
  font-size: 50px;
  text-decoration: none;
  color: greenyellow;
}

.bx {
  font-size: 50px;
  margin-right: 6vw;
}

.description {
  text-align: center;
  padding: 30vh;
  font-size: 20px;
}

.text {
  margin-left: 10vw;
  font-size: 25px;
  padding-top: vh;
  line-height: 1.8em;
}

.contact {
  text-align: left;
  padding-top: 0;
  margin-left: 14vw;
}

ul li {
  display: inline;
}

.contact li {
  list-style: none;
}

.fa {
  padding: 10px;
  width: 20px;
  font-size: 30%;
  color: green;
}
