@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  top: 0;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'poppins', sans-serif;
  position: relative;
}

.about-myself {
  position: relative;
  top: 48px;
  border-top-right-radius: 10%;
  padding-left: 24px;
  padding-right: 24px;
}

a {
  text-decoration: none;
  color: #344563;
}

header {
  background: #fff;
}

li {
  list-style: none;
}

.error {
  display: inline;
  background-color: rgba(255, 69, 0, 0.5);
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0;
  border-radius: 2px;
}

.mobile-portfolio {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 106px;
  gap: 8px;
  z-index: 1;
}

.navigation::after {
  background-color: rgba(96, 112, 255, 0.95);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: block;
  content: "";
  top: 0;
  left: 0;
}

.navigation,
.navigation li,
#open-menu {
  z-index: 90;
}

.menu-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.cross-menu {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 5px;
  top: 5px;
  margin-top: 61px;
  margin-right: 37px;

  /* Theme 4 / Neutral 11 */
}

.d-none {
  display: none !important;
}

.first-page {
  min-width: 375px;
  padding-top: 110px;
  padding-bottom: 40%;
  padding-left: 24px;
  background: #fff;
  background-image: url("./image/bg.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  border-bottom-left-radius: 6rem;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 0;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-right: 10px;
  background: none;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: -40px;
}

.work {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  padding-top: 10%;
}

.project {
  background: #fff;
  border: 0.2rem solid #e5e5e5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18%;
}

.project-details {
  background-image: url("./image/Snapshoot\ Portfolio.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50%);
  background-size: 92%;
  background-position-y: 5%;
}

.multipost-details {
  background-image: url("./image/Snapshoot\ Portfolio2.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50%);
  background-size: 92%;
  background-position-y: 5%;
}

.tonic2-details {
  background-image: url("./image/Snapshoot\ Portfolio\ 3.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50%);
  background-size: 92%;
  background-position-y: 5%;
}

.multipost2-details {
  background-image: url("./image/Snapshoot\ Portfolio4.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50%);
  background-size: 92%;
  background-position-y: 5%;
}

.details {
  padding-top: 70%;
}

.project:last-child {
  margin-bottom: 20%;
}

/* .project-img {
  padding: 15px;
  width: 100%;
  margin: 0;
} */

.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 40px;
  margin-bottom: 20px;
}

.project-nav {
  background: url("./image/Snapshoot/ Portfolio.svg");
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-left: 40px;
}

.project-description {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 40px;
}

.popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9;
}

.popup::after {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 208, 0.95);
  filter: blur(2px);
  z-index: -1;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  filter: inherit;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: auto;
  margin: 1rem auto;
  border-radius: 0.8rem;
  z-index: 999;
}

.popup .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.popup .top-bar button {
  display: inline-flex;
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 1.85rem;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0;
  font-weight: 400;
}

.popup h3 {
  font-size: 2rem;
  color: #172b4d;
  font-weight: 700;
  margin: 0;
}

.popup img {
  object-fit: cover;
  width: 100%;
}

.popup p {
  color: #344563;
  line-height: 1.5rem;
}

.popup .side-bar {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.35rem;
}

.side-bar ul li {
  font-size: 0.75rem;
  background-color: #ebebff;
  color: #6070ff;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

.side-bar .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-group a {
  display: inline-flex;
  border: 2px solid #6070ff;
  color: #6070ff;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  gap: 0.35rem;
  border-radius: 0.25rem;
}

.popup .project-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  color: #7a869a;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.popup .project-nav h4 { color: #344563; }

.popup .project-nav img {
  width: 0.5rem;
  height: 0.5rem;
}

.pro-tool {
  display: flex;
  border-radius: 8px;
  gap: 12px;
  margin-left: -8px;
}

.tool {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border: 8px solid #ebebff;
  border-radius: 10px;
}

.more {
  width: 140px;
  height: 52px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.myself {
  background: #fff;
  position: relative;
  top: 48px;
  border-radius: 0 10% 0 0;
  padding-top: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.resume {
  width: 160px;
  height: 52px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  color: #396df2;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.pro-languages {
  display: grid;
  grid-template-columns: 2fr;
}

.separator-bottom {
  margin-top: -12px;
  box-shadow: 0 1px #dfe1e6;
}

.tabs,
.language-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: -30px;
}

.tab-title {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.flex-downarrow {
  display: flex;
}

.downarrow {
  margin-top: 5px;
}

.frame {
  display: flex;
  background: #f7f7f9;
  flex-direction: row;
  border-radius: 8px;
  height: 60px;
  margin-top: 20px;
  margin-left: -30px;
}

.ellipse {
  margin-left: 10px;
}

.frame-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #253858;
  margin-left: 20px;
}

 .form {
  background-color: #6070ff;
  background-image: url("image/contact form shapes-mobile.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 96%;
  border-top-left-radius: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding-bottom: 120px;
}

.form-header {
  padding: 0;
}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 0;
}

.contact-description {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 327px;
  height: 102px;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 72px;
}

.username {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 16px;
}

.useremail {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 16px;
}

.userfeedback {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 16px;
}

.fbutt {
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 150px;
  height: 48px;
  border-color: #fff;
  padding: 12px 16px 12px 16px;
}

.fbutt:enabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  color: #6070ff;
}

.fbutt:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.fbutt:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.fbutt:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  h2 {
    padding-left: 120px;
  }

  .logo > h2 {
    animation: logo 2s 1;
  }

  @keyframes logo {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  .menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 0;
    height: 916px;
    left: 1139px;
    top: 16px;
  }

  .item-navigation {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    padding-right: 90px;
    text-align: center;
    color: #344563;
    gap: 32px;
  }

  .mobile-portfolio {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
  }

  .first-page {
    min-width: 375px;
    padding-top: 190px;
    padding-left: 260px;
    padding-right: 260px;
    height: 680px;
    background: #fff;
    background-image: url("image/Header bg.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 92%;
    border-bottom-left-radius: 6rem;
  }

  .name {
    color: #091e42;
    font-family: 700px;
  }

  .work {
    padding-top: 10%;
    align-items: center;
  }

  .project {
    background: #fff;
    border: 0.2rem solid #e5e5e5;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    left: 0;
    right: 0;
    width: 1056px;
    height: 456px;
  }

  .multipost-project,
  .uber-project {
    display: flex;
    flex-direction: row-reverse;
  }

  .project:last-child {
    margin-bottom: 5%;
  }

  .project-img {
    padding: 15px;
    width: 544px;
    height: 450px;
    margin: 0;
    transition: all 1s;
  }

  .project-img:hover {
    transform: scale(0.8);
  }

  .project-details {
    padding-top: 20px;
  }

  .project-title {
    padding-left: 0;
    margin-bottom: 0;
  }

  .project-client {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .project-lang {
    color: #6b778c;
  }

  .year {
    color: #6b778c;
  }

  .project-description {
    margin-top: 0;
  }

  .language-title {
    color: #344563;
  }

  .tab-title {
    color: #344563;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
  }

  .more:hover {
    color: #fff;
    background: #6070ff;
  }

  .more:active {
    color: #fff;
    background: #2230d2;
  }

  .more:disabled {
    color: #5e6c84;
  }

  .about-myself {
    position: relative;
    border-top-right-radius: 6rem;
    padding: 0;
  }

  .myself {
    display: flex;
    height: 800px;
    padding-top: 40px;
    padding-left: 142px;
    padding-right: 184px;
    gap: 37px;
  }

  .about-me {
    padding-left: 0;
  }

  .myself-intro {
    width: 447px;
  }

  .resume:hover {
    color: #fff;
    background: #6070ff;
  }

  .resume:active {
    color: #fff;
    background: #2230d2;
  }

  .resume:disabled {
    color: #5e6c84;
  }

  .languages {
    width: 664px;
  }

  .frame-list {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 40px;
  }

  .frame {
    display: flex;
    background: #f7f7f9;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .ellipse {
    width: 48px;
    height: 48px;
    padding-top: 12px;
    padding-left: 12px;
  }

  .frame-name {
    color: #253858;
    font-weight: 500;
  }

  .form {
    background-image: url("image/contact form background shapes 1.svg");
    position: relative;
    margin-top: 120px;
  }

  .contact-description {
    width: 569px;
    height: 102px;
  }

  .form-details {
    padding-top: 12px;
  }

  .username,
  .useremail,
  .userfeedback {
    transition: all 2s;
  }

  .username:hover {
    transform: scale(1.2);
  }

  .useremail:hover {
    transform: scale(1.2);
  }

  .userfeedback:hover {
    transform: scale(1.2);
  }

  .fbutt {
    margin-left: 26%;
  }

}

/* --RESPONSIVE CSS--- */
@media screen and (min-width: 768px) {
  .popup-container {
    width: 80%;
    max-width: 1100px;
    margin-top: 4rem;
  }

  .popup .top-bar button {
    font-size: 2rem;
    color: #67798e;
  }

  .popup .side-bar {
    max-width: 320px;
  }

  .popup .side-bar ul {
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .popup-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .popup-details p { max-width: calc(100% - 325px); }
}
